{% if asset | length > 0 %}
  <table class="table-striped table table-bordered table-hover table-condensed">
    <thead><tr class="bg-info"><th>ID</th><th>Identifier</th></tr></thead>
    <tbody id="asset-table">
      <tr>
        <td>{{ asset.id }}</td>
        <td><a href="/ui/assets/{{ asset.identifier }}">{{ asset.identifier }}</a></td>
      </tr>
    </tbody>
  </table>
{% else %}
  No asset
{% endif %}
