{% if attributes | length > 0 %}
  {% for category, category_attributes in attributes %}
    {% if category_attributes is iterable %}
      <div class="col-md-4 table-responsive">
        <table class="table-striped table table-bordered table-hover table-condensed">
          <thead>
            <tr><th colspan="2" class="bg-primary text-center">{{ category }}</th></tr>
            <tr class="bg-info"><th>Attribute</th><th>Value</th></tr>
          </thead>
          <tbody id="attributes-table">
            {% for attribute, value in category_attributes %}
              {% include 'components/attribute.html.twig' with { 'stringifyIterable': true } %}
            {% endfor %}
            {% if conformityDetails is defined %}
              {% for attribute, value in conformityDetails['error']['attributes'][category] %}
                {% if attribute not in category_attributes|keys %}
                  <tr>
                    <td class=>{{ attribute }}</td>
                    <td class="bg-danger">
                      <span class="glyphicon glyphicon-exclamation-sign text-danger" data-toogle="tooltip" title="Not defined"></span>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% if conformityDetails is defined %}
  {% for category, category_attributes in conformityDetails['error']['attributes'] %}
    {% if category not in attributes|keys %}
      <div class="col-md-4 table-responsive">
        <table class="table-striped table table-bordered table-hover table-condensed">
          <thead>
            <tr><th colspan="2" class="bg-primary text-center">{{ category }}</th></tr>
            <tr class="bg-info"><th>Attribute</th><th>Value</th></tr>
          </thead>
          <tbody id="attributes-table">
            {% for attribute, value in category_attributes %}
              <tr>
                <td>{{ attribute }}</td>
                <td class="bg-danger"><span class="glyphicon glyphicon-exclamation-sign text-danger" data-toogle="tooltip" title="Not defined"></span></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
