{% if audits | length > 0 %}
  <div class="col-md-12 table-responsive">
    <table class="table-striped table table-bordered table-hover table-condensed">
      <thead><tr class="bg-info"><th>Datetime</th><th>Actor</th><th>Action</th><th>Data</th></tr></thead>
      <tbody id="audit-table">
        {% for audit in audits %}
          <tr>
            <td>{{ audit.datetime | date("Y-m-d H:i:s") }}</td>
            <td>{{ audit.actor }}</td>
            <td>{{ audit.action }}</td>
            <td>{{ audit.data | json_encode }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p class="text-muted">No audit</p>
{% endif %}
