<label class="form-label" for="filter-kind-identifier">Kind</label>
<input class="form-control autocomplete" name="kind.identifier" type="text" id="filter-kind-identifier" placeholder="kind" 
  autocomplete-source="/kinds" autocomplete-group="Kind:identifier" autocomplete-name="kind.identifier"
  autocomplete-response-field="identifier" />
