<label class="form-label" for="filter-task-type-identifier">Type</label>
<input class="form-control autocomplete" name="taskType.identifier" type="text" id="filter-task-type-identifier" placeholder="type" 
  autocomplete-source="/task_types" autocomplete-group="TaskType:identifier" autocomplete-name="identifier"
  autocomplete-response-field="identifier" />
