{% extends "base.html.twig" %}

{% block title %}Tenants{% endblock %}

{% block body %}

{% include '@roger/page-header.html.twig' with { 'title': 'Tenants', 'add_button': true, 'add_function': 'add()' } %}

<div class="row">
	<div class="col-md-12">
		<table class="table" id="tenants">
		</table>
	</div>
</div>

{% endblock %}

{% block js %}

<script>

$(document).ready(function () {
	var dataTableOpts = commonDataTableOpts();
	dataTableOpts.ajax.url = '/admin/tenants';
	dataTableOpts.columns = [ 
		{ data: 'id', title: 'ID' },
		{ data: 'identifier', title: 'Identifier', render: function(data, type, row, meta){ return '<a href="/groups/' + row.id + '">' + data + '</a>'} },
		{ data: 'enabled', title: 'Enabled', render: function(data, type, row, meta){ return renderBool(data); }},
		{ data: 'id', title: 'Actions', render: function(data, type, row, meta){ return renderUD({ edit: { enabled: true, function: `update(${data})`}, remove: { enabled: true, function: `remove(${data})` }}); } }

  	];

	rogerInit('tenants', dataTableOpts);

});

function add() {
	var method = 'POST';
	var action = '/admin/tenants';
	var fields = [
		{ name: 'identifier', label: 'Identifier' },
	];

	RogerForm.initModal({ method: method, action: action, fields: fields });
}

function remove(id) {
	var method = 'DELETE';
	var action = `/admin/tenants/${id}`;

	var fields = [
		{ name: 'identifier', label: 'Identifier' }
	];

	RogerForm.initModal({ method: method, action: action, fields: fields, populate: true });
}

function update(id) {
	var method = 'PUT';
	var action = `/admin/tenants/${id}`;

	var fields = [
		{ name: 'identifier', label: 'Identifier' },
	];

	RogerForm.initModal({ method: method, action: action, fields: fields, populate: true });
}


</script>

{% endblock %}