{% extends "base.html.twig" %}

{% block title %}Asset{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
      <h2>{% if asset.kind %}{{ asset.kind.identifier }} - {% endif %}{{ asset.identifier }}</h2>
      {% if asset.parent %}
        Parent: {{ asset.parent.identifier }}
      {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Attributes</h3>
    {% include 'components/version-current.html.twig' with { 'version': asset.version } %}
    {% include 'components/attributes.html.twig' with { 'attributes': asset.attributes } %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Labels</h3>
    {% include 'components/labels.html.twig' with { 'labels': asset.labels } %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Relations</h3>
    {% include 'components/relations.html.twig' with { 'relations': asset.fromRelations } %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Instances</h3>
    {% include 'components/instances.html.twig' with { 'instances': asset.instances } %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Audits</h3>
    {% include 'components/audits.html.twig' with { 'audits': asset.assetAudits } %}
  </div>
</div>

{% endblock %}

{% block js %}

<script>

$(document).ready(function () {
  $('.renderBool').each(function() {
    let val = $(this).html();
    $(this).html(renderBool(val === '1'));
  });
});

</script>

{% endblock %}