{% extends "base.html.twig" %}

{% block title %}Asset Definitions{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <form id="assets-filters" class="dataTableFilters form-inline">
      <div class="form-group">
        <label class="form-label" for="filter-identifier">Identifier</label>
        <input class="form-control autocomplete" name="identifier" type="text" id="filter-identifier" placeholder="identifier" 
          autocomplete-source="/asset_definitions" autocomplete-group="AssetDefinition:identifier" autocomplete-name="identifier" />
      </div>
    </form>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table" id="assets"></table>
  </div>
</div>

{% endblock %}

{% block js %}

<script>

$(document).ready(function () {
  var dataTableOpts = commonDataTableOpts();
  dataTableOpts.ajax.url = '/asset_definitions';
  dataTableOpts.columns = [ 
    { data: 'id', title: 'ID', render: function(data, type, row, meta){ return '<a href="/ui/asset_definitions/' + row.identifier + '">' + data + '</a>'} },
    { data: 'identifier', title: 'Identifier', render: function(data, type, row, meta){ return '<a href="/ui/asset_definitions/' + data + '">' + data + '</a>'} },
    { data: 'tags', title: 'Tags', 'orderable': false, render: function(data, type, row, meta){ return renderLabels(data); } },
    { data: 'labels', title: 'Labels', 'orderable': false, render: function(data, type, row, meta){ return renderLabels(data); } },
    { data: 'assets', title: 'Assets', 'orderable': false, render: function(data, type, row, meta){ return data.length; } },
    { data: 'environmentDefinition.identifier', defaultContent: "", title: 'EnvironmentDefinition', orderable: false },
    { data: 'owner.name', title: 'Owner', orderable: false, defaultContent: '' },
    { data: 'source.name', title: 'Source', orderable: false, defaultContent: '' },
  ];

  rogerInit('assets', dataTableOpts);
  
});

</script>

{% endblock %}
