<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <link rel="stylesheet" href="/index.css">

    <link rel="stylesheet" href="/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="/lib/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="/lib/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="/lib/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/lib/searchBuilder.dataTables.min.css">
    <link rel="stylesheet" href="/lib/dataTables.dateTime.min.css">
    <link rel="stylesheet" href="/lib/searchPanes.dataTables.min.css">
    <link rel="stylesheet" href="/lib/select.dataTables.min.css">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
  
    {% include 'components/navbar.html.twig' %}

    <div class="container-fluid">
      {% block body %}{% endblock %}

      <div id="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div id="modal-header" class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="modal-body" class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div id="modal-footer" class="modal-footer">
              <button type="button" class="btn btn-primary hidden" id="modal-save-btn">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/lib/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="/lib/jquery-ui.min.js"></script>
    <script src="/lib/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="/lib/jquery.dataTables.min.js"></script>
    <script src="/lib/dataTables.dateTime.min.js"></script>
    <script src="/lib/dataTables.select.min.js"></script>

    <script src="/js/common.js"></script>
    <script src="/js/renders.js"></script>
    <script src="/js/roger.js"></script>
    <script src="/js/roger-utils.js"></script>
    <script src="/js/roger-form.js"></script>

    {% block js %}{% endblock %}
  </body>
</html>
