{% extends "base.html.twig" %}

{% block title %}Indicator {{ indicator.identifier }}{% endblock %}

{% block body %}


<div class="row">
  <div class="col-md-12">
      <h2>{{ indicator.identifier }}</h2>

      {% if indicator.description | length > 0 %}
        <div class="panel panel-info">
          <p id="indicator-description">{{ indicator.description }}</p>
        </div>
      {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
		<table class="table" id="values"></table>
  </div>
</div>

{% endblock %}

{% block js %}

<script>

$(document).ready(function () {
	var dataTableOpts = commonDataTableOpts();
	dataTableOpts.ajax.url = '/indicators/{{ indicator.identifier }}/values';
	dataTableOpts.columns = [ 
		{ data: 'identifier', title: 'Identifier' },
    { data: 'value', title: 'value' },
    // { data: 'valuesSample', title: 'Values', render: function(data, type, row, meta){ return renderIndicatorValues(data); } }
  ];

	rogerInit('values', dataTableOpts);

});

</script>

{% endblock %}