{% extends "base.html.twig" %}

{% block title %}Versions{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <form id="versions-filters" class="dataTableFilters form-inline">
      <div class="form-group">
        <label class="form-label" for="filter-name">Name</label>
        <input class="form-control autocomplete" name="name" type="text" id="filter-name" placeholder="name" 
          autocomplete-source="/versions" autocomplete-group="Version:name" autocomplete-name="name" />
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
		<table class="table" id="versions"></table>
  </div>
</div>

{% endblock %}

{% block js %}

<script>

$(document).ready(function () {
	var dataTableOpts = commonDataTableOpts();
	dataTableOpts.ajax.url = '/versions';
	dataTableOpts.columns = [ 
		{ data: 'id', title: 'ID' },
		{ data: 'assetDefinition.identifier', title: 'target', defaultContent: '' },
		{ data: 'name', title: 'name' },
  ];

	rogerInit('versions', dataTableOpts);
});

</script>

{% endblock %}